<html>
<head>
    <meta charset="UTF-8">
    <title>网站标题 <?php ek('title') ?></title>
    <style>
     * {font-size: 14px}
     p,pre{
			white-space: pre-wrap!important;
      word-wrap: break-word!important;
      *white-space:normal!important;
         margin:2px;}
     #aa_foot {
         margin: 10px 4px 4px 4px;
			 padding: 2px;
       border: 1px solid #000000;
       width: 600px;
        height:500px;
        overflow-y: auto;
        background: #cdccfb;
        word-break: break-all;
        word-wrap: break-word;
        position: fixed;
     }
    </style>
</head>
<body>
<?=$main?>
<div id="aa_foot" title="点击隐藏" onclick="if(this.style.height=='80px') this.style.height='500px';else
	this.style.height='80px';"><?php
echo bCtr::$echo,'<hr size=1>';
foreach(bCtr::$info as $key =>$val ) {
    echo '<b>',$key,'</b><br>';
    foreach($val as $k=>$v) {
      echo $k+1,' ',$v,'<br>';
    }
}
?></div>
</body>
</html>